{% extends "AppProyectoFinal/padre.html" %}

{% load static %}
{% block contenidoQueCambia %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>INFOGEL</h1>
                            <span class="subheading">Somos un portal de noticias creado pura y exclusivamente por el amor de informar. Combinamos nuestras dos pasiones, programar e informar. Este proyecto lo llevo a cabo hace muy poquito tiempo, asique aun queda mucho por mejorar... pero mas queda por informar! Gracias por leernme < 3.</span>
                            <br>
                            <br>
                            <img src="/static/assets/img/IMG_5046.JPG" width="200" height="200" alt="Foto del propietario jaja">
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}