{% extends 'AppProyectoFinal/padre.html'%}
{% load static %}
{% block contenidoQueCambia %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>BIENVENIDO A 
                                INFOGEL</h1>
                            <span class="subheading">Noticias creadas por y para los usuarios </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div style="margin: 20px;">
            <h1>INFOGEL - NOTICIAS DE SOCIEDAD</h1>
        </div>
    <ul>
        <body>


    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enviar" />
    </form>

    
</body>
</html>
{% endblock %}